<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:fragment="card(dog)" th:remove="tag">
		<th:block th:replace="${dog != null} ? ~{:: card_content(${dog})} : ~{:: card_blank}"></th:block>
	</div>

	<div th:fragment="card_content(dog)" class="card caretaker-card" 
		th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		<header class="card-header">
			<h2> Caretaker </h2>
		</header>
			
		<div>
			<div class="caretaker-card_top">
				<div class="caretaker-card_image">
					<i class="caretaker-card_image-default fa fa-user"></i>
				</div>
		        
				<div class="caretaker-card_primary">
					<div>
						<span class="card-primary_text"> Ann Cilfone </span>
						<span class="caretaker-card_type">(Foster)</span>
					</div>
					
					<div class="caretaker-card_contact">
						<span> Phone: </span>
						<span> (860) 807-2134 </span>
						<span> Email: </span>
						<span> ann.cilfone@goo.ru.co </span>
					</div>
				</div>
			</div>
		    
			<div class="card-sub_layout">
				<div class="card-sub_section">
					<span class="card-sub_heading"> Home Address </span>
					<span class="card-sub_item"> 19 Summer St. </span>
					<span class="card-sub_item"> Manchester, VT </span>
					<span class="card-sub_item"> 72840 </span>
				</div>
				
				<div class="card-sub_section">
					<span class="card-sub_heading"> ... </span>
					<span class="card-sub_item"> ... </span>
				</div>
		    </div>
		</div>
	</div>
	
	<div th:fragment="card_blank" class="card caretaker-card blank-card" 
		th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		<header class="card-header">
			<h2> Caretaker </h2>
		</header>
		
		<div class="card-blank_body">
			<div class="card-blank_inner">
				<i class="fa fa-plus"></i>
				<span class="card-blank_message"> Assign caretaker to Dog </span>
			</div>
		</div>
	</div>
</body>
</html>