<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:fragment="card(returnDog)"
		th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		<a th:replace="${returnDog != null} ? ~{:: card_content(${returnDog})} : ~{:: card_blank(${returnDog})}"></a>
	</div>

	<div th:fragment="card_content(returnDog)" class="card return-hist-card" 
		th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		
		<header class="card-header">
			<h2> Return History </h2>
			<a class="icon-button icon-button_ghost fade-icon" 
				data-tippy-content="New Return">
				<i class="fa fa-plus"></i>
			</a>
		</header>
		
		<div>
			<div class="return-item">
				<div class="return-item_person">
		            <span th:text="${returnDog.addopter}"></span>
					<span class="return-item_date" th:text="${returnDog.returnDate}"></span>
				</div>
				<div class="returm-item_details"> 
					<span> Reason: </span> 
					<span></span> 
					
			        <div class="return-item_descript">
						<div th:text="${returnDog.reason}"></div>
					</div>
					
					<a class="return-info_more">
						read more...
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- TODO NOT CHEAT ?? or is this ok! -->
	<div th:fragment="card_blank(returnDog)" class="invis">
	</div>
</body>
</html>