<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<ul th:fragment="breadcrums(dog)">
		<li th:replace="common/header :: breadcrum(name='Home', icon='fa-home')"></li>
		<li th:replace="common/header :: breadcrum(name='Dogs', icon='fa-dog')"></li>
		<li th:replace="common/header :: breadcrum(name=${dog.name}, extra=${'#' + dog.ID})"></li>
	</ul>	

	<div th:fragment="page(dog)" class="view-dog_wrapper">
	<!--  th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}" -->
		<div th:replace="common/header :: title('ALR - ' + ${dog.name}, ~{:: breadcrums(${dog})})">	</div>
		
		
		<div th:replace="pages/dog/view/dog_info_card :: card(${dog})"></div>
		<div th:replace="pages/dog/view/caretaker_assignment_card :: card(${dog?.caretaker})"></div>
		<div th:replace="pages/dog/view/transport_reservation_card :: card(${reservation})"></div>
		<div th:replace="pages/dog/view/return_history_card :: card(${dog})"></div>
			
			
		<div th:replace="components/modal :: modal('test', 'Test', ~{:: content})"></div>
	</div>
	
	<div th:fragment="content">
		<p> Hi Mom </p>
	</div>
</body>
</html>