@import "../card.less";

@max-form_width: 600px;

.form {
	&:extend(.card all);
	
	width: 100%;
    max-width: @max-form_width;
    
    margin: 0 auto;
    overflow: visible;
    
    .card-header {
    	box-shadow: @border-shadow_down;
    }
    
    .form-content {
    	padding: @card-padding;
    	
		display: grid;
		grid-template-columns: 125px auto;
		
		grid-row-gap: 10px;
		grid-column-gap: 10px;
    }
}