<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/forms/transport/transport.css" />
</head>

<body>
	<div th:fragment="form" th:replace="forms/form :: form(url='/forms/transport', title='Transport Dog', body=~{:: #form})">
        <div id="form" th:remove="tag">
			
			<!--  TODO NEED URL FOR DOG LOOK UP -->
			<div th:replace="components/input :: form_lookup(label='Choose Dog', icon='fas fa-dog', name='chooseDog', url='/forms/autofill_dogs')"></div>
			<!--  TODO: NEED URL FOR PERSON LOOK UP -->
			<div th:replace="components/input :: form_lookup(label='Who\'s picking up this dog?', icon='fas fa-user-alt', name='pickupPerson', url='/forms/autofill_person')"></div>
			<div th:replace="components/input :: form_input(label='Date of transportation', type='date', icon='fas fa-calendar-alt', name='pickupDate')"></div>
			
			<span class="form-input_label">Address</span>
			<div>
				<div th:replace="components/input :: form_group('address')"></div>
				<div th:replace="components/input :: form_input(placeholder='Street', icon='fas fa-home', name='street')"></div>
				
				<div class="city-state">
					<div th:replace="components/input :: form_input(placeholder='City', name='city')"></div>
					<div th:replace="components/input :: form_input(placeholder='State', name='state')"></div>
				</div>
				
				<div class="zip-country">
					<div th:replace="components/input :: form_input(placeholder='Zipcode', name='zipcode')"></div>
					<div th:replace="components/input :: form_input(placeholder='Country', value='United States', name='country')"></div>
				</div>
			</div>
			
			<span>  </span>
			<div class="submitButton"> 
				<input type="submit" value="Submit">
			</div>
		</div>
	</div>
</body>
</html>