@import "../buttons.less";

@import "../const/vars.less";
@import "../const/fonts.less";
@import "../const/colors.less";
@import "../const/components.less";

@page-header_size: 50px;
@page-header_padding: 10px;

@user-image_size: 34px;
@user-menu_width: 200px;
@user-menu_border: 1px solid fade(@gray50, 25%);

@user-menu-tt_height: .25s;
@user-menu-tt_width: .15s;
@user-menu-tt_details: .15s;

@breadcrums_size: 22px;

.page-header {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
	height: @page-header_size;
    flex-shrink: 0;
    
    background: white;
    box-shadow: @border-shadow;
    
    .page-header_menu-button {
		display: flex;
		align-items: center;
		justify-content: center;
		
		margin: @page-header_padding;
    }
    
    .page-header_search-wrapper {
		display: flex;
		align-items: center;
		
		flex-grow: 1;
		margin: @page-header_padding;
		
		.page-header_search {
			background: @light_gray93;
			
			border-radius: @page-header_size / 2 - @page-header_padding;
			padding: @page-header_padding / 2 @page-header_padding;
			
			i {
				margin-right: .4rem;
				
				color: @gray50;
				font-size: .8rem;
			}
			
			input {
				font-size: 1rem;
				
				background: none;
				outline: none;
				border: none;
			}
		}
    }
    
    .page-header_user-wrapper {
		position: relative;
			
		display: flex;
		align-items: center;
		
		color: @text_color;
		
		border: @user-menu_border;
		border-radius: @user-image_size / 2;
		margin: (@page-header_size - @user-image_size) / 2;

		// animation end-points
		background-color: transparent;
		border-width: 0px;
		min-width: 100px;
		
		box-sizing: border-box;
		user-select: none;
		z-index: 700;
		
		transition: 
			min-width @user-menu-tt_width ease-out, 
			border @user-menu-tt_details ease-out, 
			border-radius @user-menu-tt_details ease-out,
			background-color .15s ease-out;

		&:not(.page-header_user-open) {
			cursor: pointer;
			
			transition: 
				min-width @user-menu-tt_width ease-out @user-menu-tt_height, 
				border-width @user-menu-tt_details ease-out @user-menu-tt_height, 
				border-radius @user-menu-tt_details ease-out @user-menu-tt_height,
				background-color .15s ease-out;
			
			&:hover {
				background-color: @light_gray92;
			}
		}

		.page-header_user {
			flex-grow: 1;
			text-align: right;
			
			padding: @page-header_padding;
			cursor: pointer;
			
			i {
				float: left;
				margin-right: @page-header_padding;
			}
		}
		
		.page-header_user-image {
			display: flex;
			
			width: @user-image_size;
			height: @user-image_size;
			
			border-radius: 50%;
			transition: border-radius @user-menu-tt_details ease-out (@user-menu-tt_height);
			
			background: #dde783;
			
			box-sizing: border-box;
			cursor: pointer;
			
			.page-header_user-image-default {
				margin: auto;
				
				color: white;
				font-size: @user-image_size / 2;
			}
		}
		
		.page-header_user-menu-wrapper {
			position: absolute;
			
			top: 100%;
			right: -1px;
			
			max-height: 0;
			overflow: hidden;
			
			transition: max-height @user-menu-tt_height ease-out;
			z-index: -1;
			
			.user-menu {
				display: flex;
				flex-direction: column;
				
				min-width: @user-menu_width;
				
				padding-top: .5em;
				border: @user-menu_border;
				
				border-radius: @user-image_size / 2;
				border-top-left-radius: 0;
				border-top-right-radius: 0;

				font-size: .95rem;
				background: @light_gray98;
				
				box-sizing: border-box;
				
				.user-menu_option {
					padding: .35em 15px;
					cursor: pointer;
					
					&:hover {
						background: @light_gray95;
					}
					
					i {
						margin-right: @card-padding;
					}
					
					&:last-child {
						padding-bottom: .75em;
						
						border-radius: @user-image_size / 2;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
				}
				
				.user-menu_divider {
					margin: .35em 10px;
					border-top: 1px solid #808080
				}
			}
		}
		
		&.page-header_user-open {
			min-width: @user-menu_width;
			
			border-width: 1px;
			border-bottom: none;
			
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			
			.page-header_user-image {
				border-bottom-right-radius: 0;	
				transition: border-radius @user-menu-tt_details ease-out;
			}	
			
			.page-header_user-menu-wrapper {
				//	 top-padding + 3 *    line-item height   + divider-padding + extra bottom-padding + a bit
				max-height: .5em + 3 * (.35em + 1em + .35em) + (.35em + .35em) + (.75em - .35em) + .3em;
				transition: max-height @user-menu-tt_height ease-out @user-menu-tt_width;
			}
		}
    }
}

.breadcrums {
    display: flex;
    justify-content: start;

    width: 100%;
	height: @breadcrums_size;
    flex-shrink: 0;

    color: @text_color;
    background: @light_gray93;
    border-bottom: 1px solid @gray85;
    
    height: 0px;
    
    ul {
	    margin: auto 0;
	    
	    padding: 0;
	    padding-left: 5px;
	    
		list-style: none;
		
		li {
			display: inline;
    		font-size: 14px;

			i {
			    font-size: 13px;
			    margin-right: 5px;
			}
			
			span {
				color: @gray50;
			}
		}
		
		li+li::before {
		    padding: 8px;
		    color: #000;
		    content: "/\00a0";
		}
    }
}










