@import "/../const/all.less";

@highlight_width: 4px;

.page-sidebar {
	width: 300px;
	height: 100%;
	
	flex-shrink: 0;
	
	background: #4d4d4d;
	box-shadow: 0px 0 4px @gray50;
	
	overflow: hidden;
	z-index: 100;
	
	transition: width 1s ease-out;
	
	.page-sidebar_nav {
		color: white;
			
		.page-sidebar_nav-category {
			border-right: @highlight_width solid transparent;
			
			.page-sidebar_nav-category-label-home{
				display: block;	
				font-size: 1.3rem;
				padding: 8px 10px;
				user-select: none;
				
				i{
					padding-right: 10px;
				}
			}
			.page-sidebar_nav-category-label {
				display: block;	
				font-size: 1.3rem;
				padding: 8px 10px;
				user-select: none;
				padding-top: 30px;
				
				i{
					padding-right: 10px;
				}
			}
			
			.page-sidebar_nav-item-wrapper {
				padding: 8px 0;	

					
				& > div {
					padding: 10px 0;
					padding-left: 50px;
				
					font-size: 1.1rem;
					user-select: none;
					cursor: pointer;
					
					&:hover {
					 	background: @dark_gray33;
					}
					
					i {
						position: relative;
						top: .175rem;					
						margin-right: 10px;		
						float: left;
					}
				}
			}
			
		}	
	}
	
}

@import "sidebar_500.less";