@import "/../const/all.less";

@highlight_width: 4px;
@background_hover_color: #666666;

.page-sidebar {
	width: 300px;
	height: 100%;
	
	flex-shrink: 0;
	
	background: @dark_gray30;
	box-shadow: 0px 0 4px @gray50;
	
	overflow: hidden;
	z-index: 100;
	
	transition: width 1s ease-out;
	
	.page-sidebar_nav {
		color: white;
			
		.page-sidebar_nav-category {
			
			.page-sidebar_nav-category-label-home{
				display: block;	
				font-size: 1.2rem;
				padding: 8px 13px;
				user-select: none;
				
				i{
					padding-right: 10px;
				}
			}
			.page-sidebar_nav-category-label {
				display: block;	
				font-size: 1.2rem;
				padding: 8px 13px;
				user-select: none;
				padding-top: 30px;
				padding-bottom: 2px;
				
				i{
					padding-right: 10px;
				}
			}
			
			.page-sidebar_nav-item-wrapper {
				padding: 8px 0;	

					
				& > a {
					display: block;
					padding: 7px 0;
					padding-left: 53px;
				
					font-size: 1rem;
					user-select: none;
					cursor: pointer;
					
					
					&:hover {
					 	background: @background_hover_color;
					}
					
					i {				
						margin-right: 10px;		
						float: left;
						width: 1.5rem;
						display: inline-block;
					}
				}
			}
			
		}	
	}
	
}

@import "sidebar_500.less";