<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<ul th:fragment="breadcrums">
	<li th:replace="common/header :: breadcrum(name='Home', icon='fa-home')"></li>
	<li th:replace="common/header :: breadcrum(name='Dogs', icon='fa-dog')"></li>
</ul>	

<div th:fragment="page" class="view-all"
	 th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
	 
	<div th:replace="common/header :: title('ALR - Dogs', ~{:: breadcrums})">	</div>
	
	<div class="card view-all_heading">
		<div class="view-all_heading-items">
		    <h2> View All People </h2>
		    
		    <div class="span-button">
			    <i class="fa fa-plus"></i>
			    New Person
		    </div>
	    </div>
	</div>

	<div class="view-all_body">
		<div class="view-all_left">
			<div class="view-all_filter">
			    <div class="view-all_search">
					<div class="view-all_search_wrapper">
					    <i class="fa fa-dog"></i>
					    <input type="search" placeholder="Enter Person's name">
					</div>
				    <div class="span-button" onclick="onSearch()">
					    <i class="fa fa-search"></i>
					    Search
				    </div>
				</div>
			 
				<div class="view-all_result_order">
					<span class="result-order_filter">
						<i class="fa fa-filter"></i>
						Add Filter
					</span>
					
					<div class="result-order_sort">
						<span class="result-order_sort_label"> Sort By </span>
						<span class="result-order_sort_select">
							Adoption Date
							<i class="fa fa-chevron-down"></i>
						</span>
						<span class="icon-button icon-button_box-plain">
							<i class="fa fa-sort-amount-up-alt"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="view-all_results">
			</div>
		</div>
	
		<div class="view-all_right">
			<div class="view-all_display_wrapper">
				
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function onSearch() {
			Request.send("/view/people/search", {
				nameOrId: $(".view-all_search_wrapper input").val()
			})
		}
		
		onSearch();
		
		function onSelect(id) {
			Request.send("/view/people/render/" + id);
		}
	</script>
</div>

<div th:fragment="viewResult(obj)" class="view-all_display_wrapper" style="max-width: 400px">
	<div th:fragment="card(caretaker)" class="card caretaker-card caretaker-card_slim">
		<div>
			<div class="caretaker-card_top">
				<div class="caretaker-card_image">
					<i class="caretaker-card_image-default fa fa-user"></i>
				</div>
		        
				<div class="caretaker-card_primary">
					<div>
						<span class="card-primary_text" th:text="${obj.name}"></span>
					</div>
					
					<div class="caretaker-card_contact">
						<span> Phone: </span>
						<span th:text="${obj.primaryPhone}"></span>
						
						<span> Email: </span>
						<span th:text="${obj.email}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
				
	<div class="view-all_display_link" th:onclick="Request.send('/view/people/' + [[${obj.id}]]);">
		View full record
		<i class="fa fa-arrow-right"></i>
	</div>
</div>

<div th:fragment="searchResults(results)" class="view-all_results">
	<th:block th:each="person : ${results}"> <!-- TODO: show message if no results -->
		<div th:replace=":: person_lineitem(${person})"></div>
	</th:block>
</div>

<div th:fragment="person_lineitem(person)" class="view-all_dog-result" th:onclick="onSelect([[${person.id}]])">
	<div class="dog-result_icon">
		<i class="fa fa-user"></i>
	</div>
	
	<div class="dog-result_label">
		<h3 th:text="${person.name}"> </h3>
	</div>
	 
	<div style="flex-grow: 1;"></div>
	 
	<div class="icon-button icon-button_box-plain" 
		 th:onclick="Request.send('/view/people/' + [[${person.id}]]); event.stopPropagation();">
		<i class="fa fa-arrow-right"></i>
	</div>
</div>
	
</body>
</html>