<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/input.css" />
</head>

<body>
	<div th:fragment="revert(fields, values)" th:with="u_id=${#UID.$()}" th:remove="tag">
		<a class="icon-button icon-button_box-plain" 
			data-tippy-content="Restore Default" 
			th:attr="data-uid=${u_id}">
			
			<i class="fa fa-history"></i>
		</a>
		
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				new Input.RevertButton(
					$$(""), 
					/*[[${fields}]]*/, 
					/*[[${values}]]*/);
			}); /*]]>*/
		</script>
	</div>

	<div th:fragment="form_input(name)" 
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		<!-- 
			name: string
			
			label: string <optional>
			icon: string <optional>
			class: string <optional>
			
			formatter: js-function <optional>
			validate: js-function <default = stdValidator>
			allow_blank: boolean <default = true>
			
			type: string <default = text> [text, number, date, phone, email]
			
			pattern: RegEx | Decimal-Pattern (see: http://numeraljs.com/) <optional>
			
			min_length: int <default = 0>
			max_length: int <optional>
			
			min_value: int | decimal | date <optional>
			max_value: int | decimal | date <optional>
			increment: int | decimal <optional>
			
			show_limit: boolean <default = true>
			always_show_limit: boolean <default = false>
			
			value: string <optional>
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		
		<!-- input-error readonly -->
		
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
			
		<div class="form-input" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<i th:classappend="${icon}" th:if="${icon != null}"> </i>
			
			<input data-default="true" type="text" 
					th:value="${value}" 
					th:placeholder="${placeholder}">
			
			<span class="form-input_counter" 
				th:classappend="${(always_show_limit ?: false) ? 'lock-counter' : ''}"
				th:if="${
					(show_limit == null ? true : show_limit) &&
					(max_length == null ? false : max_length > 0)
				}"> </span>
				
			<div th:if="${type == 'date'}" class="form-input_datepicker">
				 <div th:replace="components/jsx :: Calendar(
				 	id=${name + '_datepicker'}
				 )"></div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("input"), 
					new Input.Std(/*[[${name}]]*/, {
						'type': /*[[${type}]]*/ '',
						"pattern": /*[[${pattern}]]*/ '',
						
						'min-length': /*[[${min_length}]]*/ '',
						'max-length': /*[[${max_length}]]*/ '',

						'min-value': /*[[${min_value}]]*/ '',
						'max-value': /*[[${max_value}]]*/ '',
						'increment': /*[[${increment}]]*/ '',
						
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	
	<div th:fragment="form_textarea(name)" 
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		<!-- 
			name: string
			
			class: string <optional>
		
			label: string <optional>
			
			validate: js-function <default = stdValidator>
			allow_blank: boolean <default = true>
			
			pattern: RegEx | Decimal-Pattern <optional>
			
			min_length: int <default = 0>
			max_length: int <optional>
			
			show_limit: boolean <default = true>
			always_show_limit: boolean <default = false>
			
			value: string <optional>
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
			
		<div class="form-textarea" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<textarea data-default="true"
					th:text="${value}" 
					th:placeholder="${placeholder}"></textarea>
			
			<span class="form-input_counter" 
				th:classappend="${(always_show_limit ?: false) ? 'lock-counter' : ''}"
				th:if="${
					(show_limit == null ? true : show_limit) &&
					(max_length == null ? false : max_length > 0)
				}"> </span>
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("textarea"), 
					new Input.Std(/*[[${name}]]*/, {
						'min-length': /*[[${min_length}]]*/ '',
						'max-length': /*[[${max_length}]]*/ '',
						
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_select(name)"
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		 <!-- 
			name: string
				
			class: string <optional>
		
			label: string <optional>
			icon: string <optional>
			
			allow_blank: boolean <default = true>
			
			value: string <optional>
			placeholder: string <optional>
			
			options: HTML | string[]
			
			readonly: boolean <default = false>
		-->
		 
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
		
		<div class="form-input" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<i th:classappend="${icon}" th:if="${icon != null}"> </i>
		
			<select>
				<option th:if="${placeholder != null}" th:text='${placeholder}' value='' selected="selected"></option>
				<th:block th:replace="${options}"></th:block>
			</select>
			
			<i class="fa fa-chevron-down"> </i>
		</div>
		 
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				var $ele = $$("select");
				
				// set value if available
				var value = /*[[${value}]]*/ '';
				value && $ele.val(value);
				
				Input.setupInput(
					$ele, 
					new Input.Std(/*[[${name}]]*/, {
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_checkbox(text)"
		 th:with="u_id=${#UID.$()}"
		 th:attr="data-uid=${u_id}">
		 
		 <!-- 
			text: string
			value: string <optional>
			
			checked: boolean <default = false>
			
			readonly: boolean <default = false>
		 -->
		 
		<label class="form-input_checkbox">
			<th:block th:text="${text}"></th:block>
			<input type="checkbox" th:checked="${checked}" th:value="${value} ?: ${text}">
			<span class="form-input_checkbox-mark"> </span>
		</label>
		
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("input"), 
					new Input.Checkbox(/*[[${text}]]*/)
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_group(name)" th:with="u_id=${#UID.$()}" th:remove="tag">
		 <!-- 
			name: string
			options: HTML
			
			allow_multiple: boolean <default = false>
			require: boolean <default = true>
		 -->
		 
		 <script id="group-setup" type="text/javascript" th:inline="javascript">
		 	var script = $("#group-setup");
		 	script.parent().attr("data-uid", /*[[${u_id}]]*/'');
		 	script.remove();
		 
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$(""), 
					new Input.Group(/*[[${name}]]*/)
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_buttonGroup(name)" th:with="u_id=${#UID.$()}" th:remove="tag">
		 <!-- 
			name: string
			options: HTML
			
			allow_multiple: boolean <default = false>
			require: boolean <default = true>
		 -->
		 
		 <script id="group-setup" type="text/javascript" th:inline="javascript">
		 	var script = $("#group-setup");
		 	script.parent().attr("data-uid", /*[[${u_id}]]*/'').addClass("form-input_group");
		 	script.remove();
		 
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$(""), 
					new Input.ButtonGroup(/*[[${name}]]*/, {
						"allow-multiple": /*[[${allow_multiple}]]*/ '',
						"require": /*[[${require}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_lookup(name)"
		 th:with="u_id=${#UID.$()}"
		 th:remove="tag">
		 
		 <!-- 
		 	name: string
		 
			label: string <optional>
			icon: string <default = [based on type]>
			class: string <optional>
			
			allow_blank: boolean <default = true>
			
			url: string <optional>
			
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		 
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
		 
		 <div th:attr="data-uid=${u_id}" th:classappend="${class}">
			<th:block th:replace="components/jsx :: LookupFormInput(
									id=${name}, 
									icon=${icon}, 
									readonly=${readonly})"></th:block>
						
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
					var requestURL = /*[[${url}]]*/ '';
					requestURL && $jsx(/*[[${name}]]*/).requestData(requestURL, {});
					
					Input.setupInput(
						$$("#" + /*[[${name}]]*/), 
						new Input.Lookup(/*[[${name}]]*/, $jsx(/*[[${name}]]*/))
					);
				}); /*]]>*/
			</script>
		</div>
	</div>
</body>
</html>

<!-- 
	Form style inputs
		- standard inputs (text, numbers, ect.)
		- lookup-inputs
		
		- character counters
			- display on mouse_over
			
		- validation methods
		
		- number inputs
		- text inputs
		- date inputs

 -->