<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/input.css" />
</head>

<body>
	<div th:fragment="revert(fields, values)" th:with="u_id=${#UID.$()}" th:remove="tag">
		<a class="icon-button icon-button_box-plain" 
			data-tippy-content="Restore Default" 
			th:attr="data-uid=${u_id}">
			
			<i class="fa fa-history"></i>
		</a>
		
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				new Input.RevertButton(
					$$(""), 
					/*[[${fields}]]*/, 
					/*[[${values}]]*/, 
					/*[[${types}]]*/);
			}); /*]]>*/
		</script>
	</div>

	<div th:fragment="form_input(name)" 
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		<!-- 
			name: string
			
			label: string <optional>
			icon: string <optional>
			class: string <optional>
			
			get_value: js-function <optional>
			validate: js-function <optional>
			allow_blank: boolean <default = true>
			
			type: string <default = text> [text, number, date, phone, email]
			
			pattern: RegEx | Decimal-Pattern (see: http://numeraljs.com/) <optional>
			
			min_length: int <default = 0>
			max_length: int <optional>
			
			min_value: int | decimal | date <optional>
			max_value: int | decimal | date <optional>
			increment: int | decimal <optional>
			
			show_limit: boolean <default = true>
			always_show_limit: boolean <default = false>
			
			value: string <optional>
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		
		<!-- input-error readonly -->
		
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
			
		<div class="form-input" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<i th:classappend="${icon}" th:if="${icon != null}"> </i>
			
			<input  type="text" 
					th:value="${value}" 
					th:placeholder="${placeholder}">
			
			<span class="form-input_counter" 
				th:classappend="${(always_show_limit ?: false) ? 'lock-counter' : ''}"
				th:if="${
					(show_limit == null ? true : show_limit) &&
					(max_length == null ? false : max_length > 0)
				}"> </span>
				
			<div th:if="${type == 'date'}" class="form-input_datepicker">
				 <div th:replace="components/jsx :: Calendar(
				 	id=${name + '_datepicker'}
				 )"></div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("input"), 
					new Input.Std(/*[[${name}]]*/, {
						'type': /*[[${type}]]*/ '',
						"pattern": /*[[${pattern}]]*/ '',
						
						"get-value": /*[[${get_value}]]*/ '',
						"validate": /*[[${validate}]]*/ '',
						
						'min-length': /*[[${min_length}]]*/ '',
						'max-length': /*[[${max_length}]]*/ '',

						'min-value': /*[[${min_value}]]*/ '',
						'max-value': /*[[${max_value}]]*/ '',
						'increment': /*[[${increment}]]*/ '',
						
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_hidden(name, value)" style="display: none"
		th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		
		<!-- 
			name: string
			value: string
		 -->
			
		<input type="hidden" th:value="${value}">

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("input"), 
					new Input.Std(/*[[${name}]]*/, { 'type': 'hidden' })
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_textarea(name)" 
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		<!-- 
			name: string
			
			class: string <optional>
		
			label: string <optional>
			
			validate: js-function <default = stdValidator>
			allow_blank: boolean <default = true>
			
			pattern: RegEx | Decimal-Pattern <optional>
			
			min_length: int <default = 0>
			max_length: int <optional>
			
			show_limit: boolean <default = true>
			always_show_limit: boolean <default = false>
			
			value: string <optional>
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
			
		<div class="form-textarea" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<textarea data-default="true"
					th:text="${value}" 
					th:placeholder="${placeholder}"></textarea>
			
			<span class="form-input_counter" 
				th:classappend="${(always_show_limit ?: false) ? 'lock-counter' : ''}"
				th:if="${
					(show_limit == null ? true : show_limit) &&
					(max_length == null ? false : max_length > 0)
				}"> </span>
		</div>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("textarea"), 
					new Input.Std(/*[[${name}]]*/, {
						'min-length': /*[[${min_length}]]*/ '',
						'max-length': /*[[${max_length}]]*/ '',
						
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_select(name)"
		th:with="u_id=${#UID.$()}"
		th:remove="tag">
		
		 <!-- 
			name: string
				
			class: string <optional>
		
			label: string <optional>
			icon: string <optional>
			
			allow_blank: boolean <default = true>
			
			value: string <optional>
			placeholder: string <optional>
			
			options: HTML | string[]
			
			readonly: boolean <default = false>
		-->
		 
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
		
		<div class="form-input" th:attr="data-uid=${u_id}" data-error="" th:classappend="${class}">
			<i th:classappend="${icon}" th:if="${icon != null}"> </i>
		
			<select>
				<option th:if="${placeholder != null}" th:text='${placeholder}' value='' selected="selected"></option>
				<th:block th:replace="${options}"></th:block>
			</select>
			
			<i class="fa fa-chevron-down"> </i>
		</div>
		 
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				var $ele = $$("select");
				
				// set value if available
				var value = /*[[${value}]]*/ '';
				value && $ele.val(value);
				
				Input.setupInput(
					$ele, 
					new Input.Std(/*[[${name}]]*/, {
						'allow-blank': /*[[${allow_blank}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_checkbox(text)"
		 th:with="u_id=${#UID.$()}"
		 th:attr="data-uid=${u_id}">
		 
		 <!-- 
			text: string
			value: string <default = ${text}>
			
			checked: boolean <default = false>
			
			readonly: boolean <default = false>
		 -->
		 
		<label class="form-input_checkbox">
			<th:block th:text="${text}"></th:block>
			<input type="checkbox" th:checked="${checked}" th:value="${value} ?: ${text}">
			<span class="form-input_checkbox-mark"> </span>
		</label>
		
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				Input.setupInput(
					$$("input"), 
					new Input.Checkbox(/*[[${text}]]*/)
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_group(name)" th:with="u_id=${#UID.$()}" th:remove="tag">
		 <!-- 
			name: string
			options: HTML
			
			allow_multiple: boolean <default = false>
			require: boolean <default = true>
		 -->
		 
		 <script id="group-setup" type="text/javascript" th:inline="javascript">
		 	var script = $("#group-setup");
		 	
		 	var gen_uid = /*[[${u_id}]]*/'';
		 	var uid = script.parent().attr("data-uid") || gen_uid;
		 	
		 	script.parent().attr("data-uid", uid);
		 	script.remove();
		 
			/*<![CDATA[*/ UID.exe(uid, function() {
				Input.setupInput(
					$$(""), 
					new Input.Group(/*[[${name}]]*/)
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_buttonGroup(name)" th:with="u_id=${#UID.$()}" th:remove="tag">
		 <!-- 
			name: string
			options: HTML
			
			allow_multiple: boolean <default = false>
			require: boolean <default = true>
		 -->
		 
		 <script id="group-setup" type="text/javascript" th:inline="javascript">
		 	var script = $("#group-setup");
		 	
		 	var gen_uid = /*[[${u_id}]]*/'';
		 	var uid = script.parent().attr("data-uid") || gen_uid;
		 	
		 	script.parent().attr("data-uid", uid).addClass("form-input_group");
		 	script.remove();
		 
			/*<![CDATA[*/ UID.exe(uid, function() {
				Input.setupInput(
					$$(""), 
					new Input.ButtonGroup(/*[[${name}]]*/, {
						"allow-multiple": /*[[${allow_multiple}]]*/ '',
						"require": /*[[${require}]]*/ '',
					})
				);
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_lookup(name)"
		 th:with="u_id=${#UID.$()}"
		 th:remove="tag">
		 
		 <!-- 
		 	name: string
		 
			label: string <optional>
			icon: string <default = [based on type]>
			class: string <optional>
			
			allow_blank: boolean <default = true>
			
			url: string <optional>
			
			placeholder: string <optional>
			
			readonly: boolean <default = false>
		 -->
		 
		<span class="form-input_label" th:text="${label}" th:if="${label != null}"> </span>
		 
		<div th:attr="data-uid=${u_id}" th:classappend="${class}">
			<th:block th:replace="components/jsx :: LookupFormInput(
									id=${name}, 
									icon=${icon}, 
									readonly=${readonly})"></th:block>
						
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
					var requestURL = /*[[${url}]]*/ '';
					requestURL && $jsx(/*[[${name}]]*/).requestData(requestURL, {});
					
					var jsx = $jsx(/*[[${name}]]*/);
					
					Input.setupInput(
						$$("#" + /*[[${name}]]*/), 
						new Input.Lookup(/*[[${name}]]*/, jsx)
					);
					
					var value = /*[[${value}]]*/ null;
					value && jsx.setSelectedValue(value);
				}); /*]]>*/
			</script>
		</div>
	</div>
	
<!-- ---------------------------------------- -------------- ---------------------------------------- -->
<!-- ---------------------------------------- Compound Types ---------------------------------------- -->
<!-- ---------------------------------------- -------------- ---------------------------------------- -->
	
	<div th:fragment="form_address(name)" 
		th:with="u_id=${#UID.$()},
				 _name=${name}, name=null, 
				 _label=${label}, label=null,
				 _icon=${icon}, icon=null,
				 _class=${class}, class=null"
		th:remove="tag">
		
		<span class="form-input_label" th:text="${_label}" th:if="${_label != null}"> </span>
		
		<div class="form-input_address" th:attr="data-uid=${u_id}" th:classappend="${_class}">
			<div th:replace="components/input :: form_group(${_name})"></div>
			<div th:replace="components/input :: form_input(
				name='street', 
				
				icon=${_icon}, 
				placeholder='Street', 
				
				allow_blank=${allow_blank ?: false},
				validate='validateStreetAddress'
			)"></div>
			
			<div class="city-state">
				<div th:replace="components/input :: form_input(name='city', placeholder='City')"></div>
				<div th:replace="components/input :: form_input(name='state', placeholder='State')"></div>
			</div>
			
			<div class="zip-country">
				<div th:replace="components/input :: form_input(name='zipcode', placeholder='Zipcode')"></div>
				<div th:replace="components/input :: form_input(
					name='country',
					placeholder='Country', 
					value='United States'
				)"></div>
			</div>
		</div>	
		
		<script type="text/javascript" th:inline="javascript">
			function validateStreetAddress(input) {
				var value = $(input.ele).val();
				
				// if street-address is blank
				if(/^\s*$/.test(value)) {
					var hasCity, hasState;
					
					// find the wrapping UID element
					var uid = $(input.ele).closest("[data-uid]").parent().closest("[data-uid]");
					
					// check to make sure the city and state are also blank
					UID.exe(uid, () => {
						var $city = $$("[data-group-input='city']");
						var $state = $$("[data-group-input='state']");
						 
						var val;
						hasCity = $city.length && (val = $city[0].input.getValue(), !/^\s*$/.test(val));
						hasState = $state.length && (val = $state[0].input.getValue(), !/^\s*$/.test(val));
					});
					
					// has city or state value, but no street-address
					if(hasCity || hasState) {
						 input.setError("Must provide street-address");
						 return false;
					}
				}
				
				return true;
			}
		
			/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
				// find group-input object
				var input = $$("")[0].input;
				
				var og_getValue = input.getValue;
				input.getValue = function() {
					var $street = input.children.filter("[data-group-input='street']");
					var val = $street[0].input.getValue();
					// check if street-address is blank
					return /^\s*$/.test(val) && null || og_getValue.call(input);
				};
			}); /*]]>*/
		</script>
	</div>
	
	<div th:fragment="form_person(name)"
		 th:with="u_id=${#UID.$()}, 
		 		_label=${label}, label=null,
		 		_icon=${icon}, icon=null"
		 th:remove="tag">
		 
		 <!-- 
		 	name: string
		 
			label: string <optional>
			icon: string <default = [based on type]>
			class: string <optional>
			
			allow_blank: boolean <default = true>
			
			url: string <optional>
			
			placeholder: string <optional>
			roles: string[] <default = [Foster, Admin, Addopter]>
			
			readonly: boolean <default = false>
		 -->
		 
		<span class="form-input_label" th:text="${_label}" th:if="${_label != null}"> </span>
		 
		<div th:attr="data-uid=${u_id}" th:classappend="${class}">
			<!-- Person Lookup -->
			<div class="form-input_person input-person_top input-person_lookup">
				<th:block th:replace=":: form_lookup(name=${name}, url=${url}, icon=${_icon})"></th:block>
				<span class="icon-button icon-button_box-plain" 
						data-tippy-content="New Person"
						th:onclick="showPersonCreate([[${u_id}]])">
					<i class="fa fa-plus"></i>
				</span>
			</div>
			
			<!-- In-line Create Person Form -->
			<div class="form-input_person input-person_inline">
				<th:block th:replace=":: form_group(name=${name})"></th:block>
				
				<div class="input-person_top">
					<!-- TODO: Custom validation to firstname (25) lastname (25) -->
					<div th:replace="components/input :: form_input(
						name='name', 
						
						icon='fa alr-user',
						placeholder='Name',

						validate='validatePersonName',						
						allow_blank=false
					)"> </div>
					
					<span class="icon-button icon-button_box-plain" 
							data-tippy-content="Lookup Person"
							th:onclick="showPersonLookup([[${u_id}]])">
						<i class="fa fa-search"></i>
					</span>
				</div>
				
				<div class="input-person_contact">
					<div th:replace="components/input :: form_input(
						name='email', 
						
						icon='fa fa-envelope',
						placeholder='Email',
						
						type='email',
						allow_blank=false
					)"> </div>
					
					<div th:replace="components/input :: form_input(
						name='phone', 
						
						icon='fa fa-phone',
						class='phone-input',
						placeholder='(   )    -    ',
						
						type='phone',
						allow_blank=false
					)"> </div>
				</div>
				
				<div class="input-person_roles" th:if="${#arrays.length(roles) != 1}">
					<div th:replace="components/input :: form_buttonGroup(name='roles', allow_multiple=true)"></div>
					
					<h3> Roles </h3>
					<div class="input-person_roles-wrapper">
						<th:block th:each="value : ${roles ?: {'Coordinator', 'Foster', 'Adopter'} }">
							<div th:replace="components/input :: form_checkbox(text=${value})"> </div>
						</th:block>
					</div>
				</div>
				
				<th:block th:if="${#arrays.length(roles) == 1}">
					<div th:replace=":: form_hidden('role', ${roles[0]})"></div>
				</th:block>
				
				<div th:replace=":: form_address(name='address', icon='fa fa-map-marker-alt')"></div>
			</div>
			
			<script type="text/javascript" th:inline="javascript">
				function showPersonCreate(uid) {
					UID.exe(uid, function() {
						var filter = "[data-form-input='" + /*[[${name}]]*/ + "']";
						
						var $lookup = $$(".input-person_lookup").find(filter).addBack(filter);
						var $inline = $$(".input-person_inline").find(filter).addBack(filter);
						
						$lookup[0].input.hide();
						$inline[0].input.show();
						
						$lookup.closest(".input-person_lookup").hide();
						$inline.closest(".input-person_inline").show();
					});
				}
				
				function showPersonLookup(uid) {
					UID.exe(uid, function() {
						var filter = "[data-form-input='" + /*[[${name}]]*/ + "']";
						
						var $lookup = $$(".input-person_lookup").find(filter).addBack(filter);
						var $inline = $$(".input-person_inline").find(filter).addBack(filter);
						
						$lookup[0].input.show();
						$inline[0].input.hide();

						$lookup.closest(".input-person_lookup").show();
						$inline.closest(".input-person_inline").hide();
					});
				}
			
				function updatePersonRequirements(uid, roles) {
					UID.exe(uid, function() {
						var requireEmail, requirePhone, requireAddress;
						roles = Array.isArray(roles) && roles || [roles];
						
						for(var role of roles) {
							switch(role.toLowerCase()) {
								case "caretaker":
								case "adopter":
								case "foster":
									requireEmail = true;
									requirePhone = true;
									requireAddress = true;
								break;
								
								case "admin":
								case "coordinator":
									requireEmail = true;
								break;
							}
						}
						
						$$( "[data-form-input='email'], " + 
							"[data-group-input='email']")[0].input.params["allow-blank"] = !requireEmail;

						$$( "[data-form-input='phone'], " + 
							"[data-group-input='phone']")[0].input.params["allow-blank"] = !requirePhone;

						$$( "[data-form-input='street'], " + 
							"[data-group-input='street']")[0].input.params["allow-blank"] = !requireAddress;
					});
				}
				
				function validatePersonName(input) {
					var value = $(input.ele).val();	
					
					// if the input is blank, return
					if(/^\s*$/.test(value)) return;
					value = value.trim();
					
					var parts = value.split(" ");
					if(parts.length != 2) {
						input.setError("Please only enter their first and last name");
						return false;
					}
					
					if(parts[0].length > 25) {
						input.setError("First-name is too long!");
						return false;
					}
					
					if(parts[1].length > 25) {
						input.setError("Last-name is too long!");
						return false;
					}
					
					return true;
				}
				
				/*<![CDATA[*/ UID.exe(/*[[${u_id}]]*/, function() {
					showPersonLookup(/*[[${u_id}]]*/);
					
					// if there is only one role, setup the requirments 
					var roles = /*[[${roles}]]*/ [];
					if(roles.length == 1) {
						updatePersonRequirements(/*[[${u_id}]]*/, roles[0]);
					
					// otherwise, ass a listener to the role group to control requirments 
					} else {
						var $rolesInput = $$("[data-form-input='roles']");
						$rolesInput.input.addListener(input => updatePersonRequirements(uid, input.getValue()));
					}
				}); /*]]>*/
			</script>
		</div>
	</div>
</body>
</html>

<!-- 
	Form style inputs
		- standard inputs (text, numbers, ect.)
		- lookup-inputs
		
		- character counters
			- display on mouse_over
			
		- validation methods
		
		- number inputs
		- text inputs
		- date inputs

 -->