<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/components/modal.css" />
    <script type="text/javascript" src="/webjars/micromodal/dist/micromodal.min.js"></script>
    
    <script type="text/javascript">
		MicroModal.init({
			// onShow: modal => {},
			// onClose: modal => {},
			
			// openTrigger: 'data-custom-open',
			// closeTrigger: 'data-custom-close',
			
			openClass: 'is-open',
			disableScroll: true,
			disableFocus: false,
			
			awaitOpenAnimation: true,
			awaitCloseAnimation: true,
			
			debugMode: true
		});
    </script>
</head>

<body>
	<div th:fragment="modal(id, title, content)" th:id="${id}" aria-hidden="true" class="modal modal-sidefade"
		 th:with="u_id=${#UID.$()}" th:attr="data-uid=${u_id}">
		 
		<div class="modal__overlay" tabindex="-1" > <!-- data-micromodal-close -->
			<div class="modal__container" role="dialog" aria-modal="true" th:aria-labelledby="${id + '-title'}">
				<header class="modal__header">
					<h2 th:id="${id + '-title'}" th:text="${title}"></h2>
					<i class="fa fa-times" data-micromodal-close></i>
				</header>
				
				<main class="modal__content" th:id="${id + '-content'}">
					<th:block th:replace="${content}"></th:block>
				</main>
				
				<footer class="modal__footer">
					<!-- <button class="modal__btn modal__btn-primary">Continue</button>
					<button class="modal__btn" data-micromodal-close>Close</button> -->
				</footer>
			</div>
		</div>
		
		<script th:id="${id + '-setup'}" type="text/javascript" th:inline="javascript">
		 	$(/*[[${id + '-setup'}]]*/ '').remove();
		 	
		</script>
	</div>
</body>
</html>