@import "../const/all.less";

@address_font-size: .85rem;

.address {
	display: flex;
	flex-direction: column;
	align-self: start;

	flex-grow: 1;
	max-width: 150px;
		
	color: @text_color;
	font-size: @address_font-size;
		
	span {
		margin-bottom: 3px;
	}
}

@person-link-image_size: 1.5rem;

.person-link {
	.person-link_image {
		display: inline-flex;
	
		width: @person-link-image_size;
		height: @person-link-image_size;
		
		border-radius: 50%;
		background: @theme-color_light;
		
		.person-link_image-default {
			margin: auto;
			
			color: white;
			font-size: @person-link-image_size / 2;
		}
	}
	
	.person-link_name {
		color: @link_color;
		border-bottom: 1px solid;
	}
}