<html xmlns:th="http://www.thymeleaf.org/">

	<head>
		<link rel="stylesheet" href="/css/forms/confirmation/thankyou.css" />
    </head>
    
    <body>
		<ul th:fragment="breadcrums">
		    <li th:replace="common/header :: breadcrum(name='Home', icon='fa-home')"></li>
		    <li th:replace="common/header :: breadcrum(name='Dogs', icon='fa-dog')"></li>
		    <li th:replace="common/header :: breadcrum(name='Thankyou', icon='fa-dog')"></li>
		</ul>
    	<div class="all" th:fragment="ty">
    		<div th:replace="common/header::title('Thankyou', ~{:: breadcrums})"></div>
            <div class="ty">THANK YOU!!</div>
            <div class="help">For additional help or questions, please contact ###-###-#### or email us at email@example.com</div>
        </div>
    </body>
    
</html>