<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/common/sidebar.css" />
</head>

<body>
	<aside th:fragment="sidebar" class="page-sidebar">
		<div style="height: 70px"></div>  <!--  TODO ADD LOGo -->
		<div class="page-sidebar_nav">
		
			<div class="page-sidebar_nav-category">
				<div class="page-sidebar_nav-category-label">
					<span><i class="fa fa-dog"></i>Dog</span>
				</div>
				<div class="page-sidebar_nav-item-wrapper">
					<a onclick="Request.send()">                        <!--  TODO -->
						<span><i class="fa fa-list-ul"></i>View All</span>
					</a>	
					<a onclick="Request.send('/register/dog')">  	
						<span><i class="fa fa-plus"></i>Add Dog</span>	
					</a>
					<a onclick="Request.send('/register/transport')">  
						<span><i class="fa fa-truck"></i>Add Reservation</span>
					</a>
					<a onclick="Request.send('/register/return')">
						<span><i class="fa fa-undo-alt"></i>Add Dog Return</span>	
					</a>	
				</div>
			</div>	
				
				
			<div class="page-sidebar_nav-category">
				<div class="page-sidebar_nav-category-label">
					<span><i class="fa fa-user"></i>People</span>
				</div>		
				<div class="page-sidebar_nav-item-wrapper">		
					<a onclick="Request.send('')">                    <!--  TODO ADD URL -->
						<span><i class="fa fa-list-ul"></i>View All</span>
					</a>	
					<a onclick="Request.send('')">                         <!--  TODO ADD URL      IF WE DO THIS -->
						<span><i class="fa fa-user"></i>Adopter Applicants</span>
					</a>						
					<a onclick="Request.send('/register/person')">
						<span><i class="fa fa-plus"></i>Add Person</span>
					</a>
				</div>
			</div>
			    
			    
			<div class="page-sidebar_nav-category"> 
			    <div class="page-sidebar_nav-category-label">
			    	<span><i class="fa fa-truck"></i>Transport</span>
			    </div>
			    <div class="page-sidebar_nav-item-wrapper">	
					<a onclick="Request.send('/view/transport')"> 
						<span><i class="fa fa-calendar-week"></i>Upcoming</span>
					</a>
					<a onclick="Request.send('')">                   <!--  TODO ADD URL --> 
						<span><i class="fa fa-list-ul"></i>View All</span>
					</a>
					<a onclick="Request.send('/register/transport')">
						<span><i class="fa fa-plus"></i>Add Reservation</span>
					</a>	
				</div>
			</div>			
			
											
		</div>
	</aside>
</body>
</html>
