<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/common/sidebar.css" />
</head>

<body>
	<aside th:fragment="sidebar" class="page-sidebar">
		<div style="height: 10px"></div>
		<div class="page-sidebar_nav">
		
		
			<div class="page-sidebar_nav-category">
				<div class="page-sidebar_nav-category-label-home"> <span> <i class="fa fa-home"></i>Home</span> </div>
			</div>
			
			
			<div class="page-sidebar_nav-category">
				<div class="page-sidebar_nav-category-label">
					<span><i class="fa fa-dog"></i>Dog</span>
				</div>
				<div class="page-sidebar_nav-item-wrapper">
					<div> 
						<span><i class="fa fa-list-ul"></i>View All</span>
					</div>	
					<div>  	
						<span><i class="fa fa-plus"></i>Add Dog</span>	
					</div>
					<div> 
						<span><i class="fa fa-undo-alt"></i>Return Dog</span>	
					</div>	
				</div>
			</div>	
				
				
			<div class="page-sidebar_nav-category">
				<div class="page-sidebar_nav-category-label">
					<span><i class="fa fa-user"></i>People</span>
				</div>		
				<div class="page-sidebar_nav-item-wrapper">		
					<div> 
						<span><i class="fa fa-list-ul"></i>View All</span>
					</div>	
					<div> 
						<span><i class="fa fa-user"></i>Adopter Applicants</span>
					</div>						
					<div> 
						<span><i class="fa fa-plus"></i>Add Person</span>
					</div>
				</div>
			</div>
			    
			    
			<div class="page-sidebar_nav-category"> 
			    <div class="page-sidebar_nav-category-label">
			    	<span><i class="fa fa-truck"></i>Transport</span>
			    </div>
			    <div class="page-sidebar_nav-item-wrapper">	
					<div>  
						<span><i class="fa fa-calendar-week"></i>Upcoming</span>
					</div>
					<div> 
						<span><i class="fa fa-list-ul"></i>View All</span>
					</div>
					<div>  
						<span><i class="fa fa-plus"></i>Add Reservation</span>
					</div>	
				</div>
			</div>			
			
											
		</div>
	</aside>
</body>
</html>
