<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/common/sidebar.css" />
</head>

<body>
	<aside th:fragment="sidebar" class="page-sidebar">
		<div style="height: 50px"></div>
	
		<div class="page-sidebar_nav">
			<ul>
				<li th:replace=":: nav_category(name='Home', icon='fa-home')"></li>
				
				<li th:replace=":: nav_category(name='Dogs', icon='fa-dog', selected=true,
												items=${ {'Manage', 'View', 'New'} })"></li>
												
				<li th:replace=":: nav_category(name='Inventory', icon='fa-boxes', 
												items=${ {'Manage', 'Received', 'Send'} })"></li>
				
				<li th:fragment="nav_category(name, icon)" th:if="${name != null}"
						class="page-sidebar_nav-category" th:classappend="${(selected ?: false) ? 'nav-selected' : ''}"
						th:id="'nav-' + ${name}" th:attr="data-name=${name}">
						
					<a class="page-sidebar_nav-category-label" onclick="openCategory(this)">   
						<i class="page-sidebar_nav-icon fa" th:classappend="${icon}"></i>
						<th:block th:text="${name}"> </th:block>
						<i class="page-sidebar_nav-open fa fa-chevron-down" 
							th:if="${not #lists.isEmpty(items)}"></i>
					</a>
					
					<div class="page-sidebar_nav-item-wrapper" 
							th:if="${items != null}">
						<ul>
							<li th:each="item : ${items}" class="page-sidebar_nav-item">
								<i class="fa fa-chevron-right"></i>
								<th:block th:text="${item}"> </th:block>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		
		<script>
			function openCategory(ele) {
				$(".nav-selected").removeClass("nav-selected");
				
				var name = $(ele).closest("[data-name]").data("name");
				$("#nav-" + name).addClass("nav-selected");
			}
		</script>
	</aside>
</body>
</html>
