@import "../../const/all.less";

.city-state{
    width: 100%;
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: @card-padding;
    box-sizing: border-box;
    }
.zip-country {
	width: 100%;
    display: grid;
    grid-template-columns: auto 75%;
    grid-column-gap: @card-padding;
    box-sizing: border-box;
}
.submitButton{
	input {
		font-family: @font-default;	
    	background-color: #0093a5;
   		border: none;
    	color: white;
  		border-radius: 100px;
  		padding-left: 1.25rem;
  		padding-right: 1.25rem;
  		padding-top: 0.3rem;
  		padding-bottom: 0.3rem;
  		float: right;
  		outline: none;
	} 	
}