@import "../../const/all.less";

.city-state{
    width: 100%;
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: @card-padding;
    box-sizing: border-box;
    }
.zip-country {
	 width: 100%;
    display: grid;
    grid-template-columns: auto 75%;
    grid-column-gap: @card-padding;
    box-sizing: border-box;
}