<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALR Demo</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    
    <script type="text/javascript" src="/webjars/momentjs/moment.js"></script>
    <script type="text/javascript" src="/webjars/numeral-js/numeral.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
    
	<script type="text/javascript" src="/js/UID.js"></script>
    
    
    <!--/*/ <th:block th:include="components/jsx :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="components/tooltips :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="components/tab_sidebar :: head"></th:block> /*/-->
    
    <!--/*/ <th:block th:include="common/header :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="common/sidebar :: head"></th:block> /*/-->
</head>
<body th:with="u_id='root'" th:attr="data-uid=${u_id}">
	<div th:replace="common/sidebar :: sidebar"> </div>
	
	<div class="page-layout">
		<div th:replace="common/header :: header"> </div>
		<div th:replace="common/header :: breadcrums"> </div>
	
		<section class="page-content_wrapper">
			<div class="page_content">
				<div th:replace="pages/dog/view/view_dog :: page(${dog})"></div>
			</div>
			
			<div th:replace="components/tab_sidebar :: sidebar"> </div>
		</section>
    </div>
</body>
</html>