<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALR Login</title>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/css/login.css"/> 

    <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
	<script type="text/javascript" src="/js/UID.js"></script>
    
    <!--/*/ <th:block th:include="forms/form :: head"></th:block> /*/-->
    
    <!--/*/ <th:block th:include="components/jsx :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="components/tooltips :: head"></th:block> /*/-->
</head>
<body>
    <img src="alr_logo.png" class="logo">
    
	<div class="login-page_all">
        
        <h2 class="sign_in">Sign in</h2>
 
        <a class="login-page_facebook"><i class="fab fa-facebook-f"></i>Facebook Login</a>
		
        <a class="login-page_google"><i class="fab fa-google"></i>Google Login</a>
        
        <a class="login-page_yahoo"><i class="fab fa-yahoo"></i>Yahoo Login</a>
        
        <h4 class="or"><span>or</span></h4>
        
        <i class="fa fa-user"></i><input type="text" id=username name=usename placeholder="Username" 
                                      class="username">

        <i class="fa fa-lock"></i><input type="password" id=password name=password placeholder="Password"
                                      class="password">
        <a class="forgot_user">Forgot Username?</a>
       
        <a class="forgot_pass">Forgot Password?</a>
        
        <button class="sign_in_button">Sign in</button>
        
	</div>
    
    <div class="sign_up">
        <span>New? </span><span class="create">Create an Account</span>
    </div>
</body>
</html>