<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALR Login</title>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="/css/signup.css"/> 
    
    <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
	<script type="text/javascript" src="/js/UID.js"></script>
    
    <!--/*/ <th:block th:include="forms/form :: head"></th:block> /*/-->
    
    <!--/*/ <th:block th:include="components/jsx :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="components/tooltips :: head"></th:block> /*/-->
</head>
<body>
    <img src="alr_logo.png" class="logo">
    
    <div class="signup-page_all">
        
         <h2 class="sign_up">Sign Up</h2>
        
        <span>Username</span>
        
        <i class="fa fa-user"></i><input type="text" id=username name=usename placeholder="Username" 
                                      class="username">
        
        <span>Password</span>

        <i class="fa fa-lock"></i><input type="password" id=password name=password placeholder="Password"
                                      class="password">
        
        <span>Confirm Password</span>
        
        <i class="fa fa-lock"></i><input type="password" id=password name=password placeholder="Password"
                                      class="password">
        
        <button class="sign_up_button">Sign Up</button>
    </div> 
</body>
</html>