<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:fragment="card(role)" class="card role-card role-card_adopter">
		<header class="card-header">
			<h2> Adopter </h2>
			
			<a class="icon-button icon-button_ghost fade-icon" data-tippy-content="Edit">
				<i class="fa fa-pen"></i>
			</a>
		</header>
		
		<div class="role-card_content">
			<div class="role-card_info">
				<span> Email: </span>
				<span> 
					<th:block th:text="${role.email}"></th:block>
					<span data-tippy-content="Verified" class="verified-icon"></span>
				</span>
				
				<span> Phone: </span>
				<span class="role-card_phone" th:text="${role.primaryPhone}"></span>
			</div>
			
			<div class="role-card_address">
				<h3> Home Address </h3>
				<span th:text="${role.homeAddress.streetAddress}"></span>
					<span th:text="${#Addresses.formatStateLine(role.homeAddress)}"></span>
					<span th:text="${#Addresses.formatPostalLine(role.homeAddress)}"></span>
			</div>

			<!-- if the role has an associated mailing-address -->
			<th:block th:if="${role.mailingAddress != null}">
				<div class="role-card_address">
					<h3> Mailing Address </h3>
					<span th:text="${role.mailingAddress.streetAddress}"></span>
					<span th:text="${#Addresses.formatStateLine(role.mailingAddress)}"></span>
					<span th:text="${#Addresses.formatPostalLine(role.mailingAddress)}"></span>
				</div>
			</th:block>
		</div>
		<div th:replace="components/modal :: modal('edit-role-foster', 'Edit [Adopter] Info', 
				~{forms/form :: edit_form(
						url=${'/edit/person/' + person.ID + '/role'}, 
						class='role-edit',
						body=~{:: edit_form(${role})}
				)}
		)"></div>
	</div>

	<div th:fragment="edit_form(role)" th:remove="tag">
		<div th:replace="components/input :: form_hidden('role', 'adopter')"></div>
	
		<div th:replace="components/input :: form_input(
			name='email', 
			
			label='Email',
			icon='fa fa-envelope',
			placeholder='Email',
			
			type='email'
		)"> </div>
		<div th:replace="components/input :: revert('email', ${role.email.toString()})"> </div>
		
		<div th:replace="components/input :: form_input(
			name='phone', 
			
			label='Phone Number',
			icon='fa fa-phone',
			
			class='phone-input',
			placeholder='(   )    -    ',
			
			type='phone'
		)"> </div>
		<div th:replace="components/input :: revert('phone', ${role.primaryPhone.toString()})"> </div>
		
		<div th:replace="components/input :: form_address(
			name='home_address', 
			
			label='Home Address',
			icon='fa fa-home',
			
			require=true
		)"> </div>
		<div th:replace="components/input :: revert(fields='home_address', values=${role.homeAddress})"> </div>
		
		<div th:replace="components/input :: form_address(
			name='mail_address', 
			
			label='Mailing Address (Optional)',
			icon='fa fa-mail-bulk',
			
			require=false
		)"> </div>
		<div th:replace="components/input :: revert(fields='mail_address', values=${role.mailingAddress})"> </div>
	</div>
</body>
</html>